#-------------------------
# Operating System Junk Files
#-------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Windows Recycle Bin
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux temporary files
*~
.directory
.Trash-*

#-------------------------
# Environment & Configuration Files
#-------------------------

# Sensitive environment files
.env

# Vagrant
.vagrant
Vagrantfile

# PHP environment version
.php-version

# CodeIgniter environment-specific configs
*/config/development

#-------------------------
# CodeIgniter Writable Directories
#-------------------------

# Cache
writable/cache/*
!writable/cache/index.html
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

# Logs
writable/logs/*
!writable/logs/index.html
*/logs/log-*.php
!*/logs/index.html

# Sessions
writable/session/*
!writable/session/index.html

# Uploads
writable/uploads/*
!writable/uploads/index.html

# Debugbar
writable/debugbar/*
!writable/debugbar/.gitkeep

#-------------------------
# Composer Dependencies
#-------------------------
vendor/

#-------------------------
# IDE & Editor Configuration Files
#-------------------------

# JetBrains (PHPStorm, WebStorm, etc.)
.idea/
*.iml

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# VS Code
.vscode/

#-------------------------
# Temporary & Testing Files
#-------------------------
tests/coverage*
phpunit
/results/
/phpunit*.xml

# Don't save PHPUnit logs
php_errors.log

#-------------------------
# User Guide Temporary Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# CodeIgniter 3 Compatibility
#-------------------------
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# users data
writable/users.json
